NEXT_PUBLIC_API_URL=http://localhost:8094/api
NEXT_PUBLIC_SITE_URL=http://localhost:3094
NEXT_PUBLIC_DEFAULT_LOCALE=tr
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_FACEBOOK_APP_ID=
NEXT_PUBLIC_APPLE_CLIENT_ID=com.goldmoodastro.web
NEXT_PUBLIC_APPLE_REDIRECT_URI=http://localhost:3095/auth/apple/callback
BING_SITE_VERIFICATION=
INDEXNOW_KEY=
